@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.logo {
  width: 25px;
  margin-left: 230px;
  margin-top: 10px;
}

.signup-header {
  color: $secondary-color;
  font-family: $landing-button;
  font-size: 21px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .email-field {
    @include form-input-fields;
    width: 100%;
  }

  .name-field {
    @include form-input-fields;
    width: 100%;
  }

  .password-field {
    @include form-input-fields;
    width: 100%;
  }

  .confirm-password-field {
    @include form-input-fields;
    width: 100%;
  }

  .login-button {
    height: 38px;
    margin-top: 75px;
  }
}
