.primary-layout {
  display: flex;
  justify-content: center;
  margin-left: 0px;

  .left {
    border: 2px solid rgb(0, 0, 0);
    align-items: left;
    width: 190px;
    height: 100%;
    position: sticky;
    top: 0;
  }

  .center {
    border: 2px solid red;
    width: 540px;
    height: 10000px;
  }

  .right {
    position: sticky;
    top: 0;
    width: 340px;
    height: 100vh;
    border: 2px solid rgb(0, 180, 0);
  }
}
