@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.nav-container {
  background-color: rgb(0, 0, 0);
  margin-left: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .fa {
    color: $secondary-color;
    margin-left: -30px;
    // &:hover {
    //   color: $primary-color;
    // }
  }

  .title {
    color: $secondary-color;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    // &:hover {
    //   color: $primary-color;
    // }
  }

  // .title:hover ~ .fa {
  //   color: $primary-color;
  // }

  // .fa:hover ~ .title {
  //   color: $primary-color;
  // }

  .nav-item2 {
    &:hover {
      color: blue;
    }
  }
}
