@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.nav-container {
  background-color: rgb(0, 0, 0);
  margin-left: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .fa {
    color: $secondary-color;
    margin-left: -30px;
  }

  .title {
    color: $secondary-color;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
  }
}

.nav-item {
  &:hover {
    color: $primary-color;
  }
}
