@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.main {
  display: flex;

  .left {
    height: 100vh;
    width: 50vw;
    background-image: url(../../styles/assets/twitter-landing.PNG);
    background-position: center;
    background-size: cover;
  }

  .right {
    height: 100vh;
    width: 50vw;
    background-color: $background-color;
    color: $secondary-color;
    margin-left: 0px;
    padding-top: 30vh;
    padding-left: 33px;

    .logo {
      width: 39px;
      margin-left: 0px;
    }

    .main-heading {
      font-size: 55px;
      font-weight: bold;
      font-family: $landing-header;
    }
    .sub-heading {
      font-size: 28px;
      font-weight: bold;
      font-family: $landing-header;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 30px;

      .login-btn {
        @include landing-button;
        background-color: $background-color;
        color: $primary-color;
      }

      .signup-btn {
        @include landing-button;
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
    .left {
      width: 100vw;
      height: 50vh;
    }
    .right {
      width: 100vw;
      height: 50vh;
      padding-left: 25vw;
      padding-top: 2px;
      margin-bottom: 0px;
    }
  }
}
