@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.container {
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 100vh;
  // width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $background-color;
  color: white;
  overflow: hidden; /* Hide scrollbars */

  .logo {
    margin-top: 20px;
    width: 35px;
    margin-left: -280px;
  }

  .main-heading {
    font-size: 28px;
    font-family: $landing-header;
    margin-left: -57px;
  }

  .register {
    margin-top: 25px;
    display: flex;
    .signup {
      color: #1b95e0;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -7px;

  .login-field {
    @include login-input;
  }

  .password-field {
    @include login-input;
  }
  .login-button {
    height: 44px;
    color: hsla(0, 0%, 100%, 0.342);
    background-color: hsla(203, 89%, 53%, 0.616);
  }
}
