@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
.html {
  border: 10px solid black;
}
.body {
  border: 10px solid black;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
