@import "./variables";

// Buttons
@mixin landing-button {
  height: 40px;
  width: 350px;
  border: 1px solid $primary-color;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $landing-button;
}

@mixin landing-button-small {
  width: 240px;
}

// Input fields
@mixin login-input {
  // padding: 0%;
  padding-left: 8px;
  height: 54.03px;
  width: 328.03px;
  color: $secondary-color;
  background-color: black;
  border: 1.5px solid rgb(53, 53, 53);
  border-radius: 5px;
  font-size: 15px;

  &:focus {
    outline: none !important;
    border-color: $primary-color;
  }
}
