// Colors
$primary-color: hsl(203, 89%, 53%);
$secondary-color: rgb(255, 255, 255);
$background-color: hsl(0, 0%, 0%);

// Fonts
$landing-header: TwitterChirpExtendedHeavy, Verdana, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$landing-button: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
